.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: #212121;
}

.fa-twitter {
  color: #212121;
}

.fa-google {
  color: #212121;
}

.fa-linkedin {
  color: #212121;
}

.fa-youtube {
  color: #212121;
}

.fa-instagram {
  color: #212121;
}

.fa-pinterest {
  color: #212121;
}

.fa-snapchat-ghost {
  color: #212121;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  color: #212121;
}

.fa-android {
  color: #212121;
}

.fa-dribbble {
  color: #212121;
}

.fa-vimeo {
  color: #212121;
}

.fa-tumblr {
  color: #212121;
}

.fa-vine {
  color: #212121;
}

.fa-foursquare {
  color: #212121;
}

.fa-stumbleupon {
  color: #212121;
}

.fa-flickr {
  color: #212121;
}

.fa-yahoo {
  color: #212121;
}

.fa-soundcloud {
  color: #212121;

}

.fa-reddit {
  color: #212121;
}

.fa-rss {
  color: #212121;
}
